
.main {
	display: flex;
	// justify-content: space-around;
	flex-wrap: wrap;
	padding: 50px;
	background-color: @main-background-color;
	height: auto;
	// margin-top: -21px;

	.sections {
		box-sizing: border-box;
		width: 250px;
		height: 250px;
		background-color: @section-background;
		margin: 20px;
		padding: 25px 10px;
		border-radius: 10px;
		// opacity: 1;

		h2 {
			position: relative;
			font-weight: bolder;
			font-size: 2em;
			z-index: 10;
		}

		p {
			font-weight: 600;
			text-indent: 10px;
			padding: 10px;
		}

		img {
			position: relative;
			width: 60%;
			margin-top: 0;
			top: -90px;
			left: 40px;
			z-index: 5;
		}
	}
}

.background-image {
			background-image: url('../img/blank-day.png');
			background-position: center;
			background-size: 150%;
			background-repeat: no-repeat;
			// opacity: .2;
		}

#mainTitleSection {
		display: flex;
		justify-content: space-around;
		border-bottom: 2px dotted @header-border-bottom;
		background-color: @main-background-color;
		height: 60px;
		padding-top: ;
		padding-bottom: 20px;

		h2 {
			font-size: 2em;
			font-weight: ;
			letter-spacing: 10px;
			text-shadow: 1px 1px @lighter-gray;
		}

		button {
			height: 60px;
			background-color: @button-color;
			border: 2px solid @button-border;
			padding: 0 30px;
			margin-top: 5px;
			border-radius: 13px;

			font-size: 1.2em;
			font-weight: bold;
			color: @button-font-color;
		}
	}