
.main {
	display: flex;
	padding: 50px;
	background-color: @main-background-color;
	height: 500px;
	// margin-top: -21px;

	.sections {
		width: 200px;
		height: 100px;
		background-color: @section-background;
	}
}

#mainTitleSection {
		// display: inline-block;
		width: ;
		background-color: @main-background-color;
		height: 50px;
		padding-top: 1px;
		padding-bottom: 20px;
	}