// Colors
@dark: #090707;
@almost-white: #D4D4D4; 	
@mid-grey: #5C5752; 
@redish-brown: #532516;
@lighter-gray:#A5A4A2; 	
@light-brown: #975D41;
@grey-beige: #978675;

// Color assigments
@font-color: ;
@main-background-color: ;
@header-background-color: ;
@footer-background-color: ;
@button-color: ;